{% extends 'base.html.twig' %}

{% block title %}QR Code{% endblock %}

{% block body %}
<h2>Generate QR Code</h2>
<div>
    {{ form_start(form) }}
    {{ form_row(form.url) }}
    {{ form_rest(form) }}
    <button style="margin-top: 20px" type="submit">Generate</button>
    {{ form_end(form) }}
</div>
{% endblock %}
