{% extends 'base.html.twig' %}

{% block title %}Show QR Code{% endblock %}

{% block body %}
    <div>
        <h2>Your QR Code successfully generated.</h2>
        <img src="{{ qrCode }}" />
    </div>

    <a href="{{ path('qrcode_download', {'fileName': fileName}) }}">Download</a>

{% endblock %}
